
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Incentive Calculation</title>
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	</head>
	<body>
			
		<main role="main" class="flex-shrink-0">
			<div class="container mt-5">
				<div class="jumbotron">
							
					<div align="center">
				
					<h4><b>Incentive Calculation </b></h4>
				<b><font color="red"><p th:text="${errormsg}"></p> </b> </font>
    <b><font color="brown"><p th:text="${sucessmsg}"></p> </b> </font>
   

<form th:action="@{/incentive}" th:object="${incentive}" method="post">

			<table>
				<tr>
					<td>Consultant Name :</td>
					<td> <input type="text" th:field="*{consultantName}" /> </td>
				</tr>
				<tr>
					<td>Bill Rate :</td>
					<td> <input type="text" th:field="*{billRate}" /> </td>
				</tr>
				
				<tr>
					<td>Pay Rate:</td>
					<td> <input type="text" th:field="*{payRate}" required/> </td>
				</tr>
				<tr>
					<td>Payroll Type :</td>
					<td> <input type="text" th:field="*{payRollType}" required/> </td>
				</tr>
				
				<tr>
					<td>Total work hours :</td>
					<td> <input type="text" th:field="*{totalWorkHours}" /> </td>
				</tr>
				
				<tr>
					<td>6 Months completed(Yes/No) :</td>
					<td> <input type="text" th:field="*{c6Months}" /> </td>
				</tr>
				
				<tr>
					<td>Client</td>
					<td>                    
<select name="clientName" id="clientName">
  <option value="NFCU">Navy Federal Credit union</option>
  <option value="FreddieMac">FreddieMac</option>
  <option value="Amtrak">Amtrak</option>
  <option value="Peraton">Peraton</option>
   <option value="Peraton">Capital One</option>
</select>
					
					</td>
				</tr>
				
				<tr>
					<td></td>
					<td> <input type="submit" value="Calculate" class="btn btn-primary"/> </td>
				</tr>

			</table>
		</form>
		

</div>

					
				</div>
			</div>
		</main>
		
			
	</body>
	
	
</html>



